appdirs==1.4.3
cycler==0.10.0
decorator==4.0.11
Django==1.11.1
django-filter==1.0.4
django-pandas==0.4.2
djangorestframework==3.6.3
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
Markdown==2.6.8
matplotlib==2.0.2
nbformat==4.3.0
numpy==1.12.1
packaging==16.8
pandas==0.20.1
plotly==2.0.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
traitlets==4.3.2
